<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista de Funcionários</title>
</head>
<body>
  <h1>Lista de Funcionários</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Função</th>
        <th>Salário</th>
        <th>Estado</th>
        <th>Data de Cadastro</th>
        <th>Data de Atualização</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <% funcionarios.forEach((funcionario) => { %>
        <tr>
          <td><%= funcionario.id %></td>
          <td><%= funcionario.nome %></td>
          <td><%= funcionario.sobrenome %></td>
          <td><%= funcionario.email %></td>
          <td><%= funcionario.telefone %></td>
          <td><%= funcionario.funcao %></td>
          <td><%= funcionario.salario %></td>
          <td><%= funcionario.estado ? 'Ativo' : 'Inativo' %></td>
          <td><%= funcionario.dataCadastro.toLocaleString() %></td>
          <td><%= funcionario.dataAtualizacao.toLocaleString() %></td>
          <td><a href="/funcionarios/<%= funcionario.id %>/editar">Editar</a></td>
          <td><a href="/funcionarios/<%= funcionario.id %>/deletar">Deletar</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/funcionarios/cadastrar">Criar Novo Funcionário</a>
</body>
</html>
