<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
</head>
<body>
    <h1>Listar Produtos</h1>
    
    <table border>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Codigo</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Estado</th>
            <th>Data Cadastro</th>
            <th>Data da Última Atualização</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% for (const produto of produtos) { %>
                <tr>
                    <td><%= produto.id %></td>
                    <td><%= produto.name %></td>
                    <td><%= produto.codigo %></td>
                    <td><%= produto.categoria %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                    <td><%= produto.status %></td>
                    <td><%= produto.createdAt %></td>
                    <td><%= produto.updatedAt %></td>
                    <td>
                        <ul>
                            <LI><a href="/">Home</a></LI>
                            <li><a href="/produtos/atualizar/<%= produto.id %>">Atualizar</a></li>
                            <li><a href="/produtos/deletar/<%= produto.id %>">Deletar</a></li>
                            <li><a href="/produtos/exibir/<%= produto.id %>">Exibir</a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <p>
        <a href="/produtos/cadastrar">Cadastrar Produtos</a>
    </p>
</body>
</html>