<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Produtos</title>
</head>
<body>
    <h1>Exibir Produtos</h1>
    
    <div>        
        <p><b>ID:</b> <%= produto.id %></p>
        <p><b>Nome:</b> <%= produto.name %></p>
        <p><b>Codigo:</b> <%= produto.codigo %></p>
        <p><b>Categoria:</b> <%= produto.categoria %></p>
        <p><b>Preço:</b> <%= produto.preco %></p>
        <p><b>Quantidade:</b> <%= produto.quantidade %></p>
        <p><b>Estado:</b> <%= produto.status %></p>
        <p><b>Data Cadastro:</b> <%= produto.createdAt %></p>
        <p><b>Data da Última Atualização:</b> <%= produto.updatedAt || "Nenhuma atualização realizada." %></p>      
    </div>

    <ul>
        <LI><a href="/">Home</a></LI>
        <li><a href="/produtos">Lista de Produto</a></li>
        <li><a href="/produtos/cadastrar">Cadastrar Produto</a></li>
        <li><a href="/produtos/atualizar/<%= produto.id %>">Atualizar Produto</a></li>
        <li><a href="/produtos/deletar/<%= produto.id %>">Deletar Produto</a></li>
    </ul>
</body>
</html>